<html>

<body>
    <h1>Przedmiot</h1>
    <a href="{{url_for('addPrzedmiot')}}">
        <button>Dodaj Przedmiot</button>
    </a>
    <br><br>

    <table>
        <tr><th>nazwa</th> <th>ects</th></tr>
        {% for p in przedmioty %}
        <tr>
            <td>{{p.nazwa}}</td>
            <td>{{p.ects}}</td>
            <td><a href="{{url_for('editPrzedmiot', przedmiot_id = p.id )}}">
                    Edytuj
                </a>
            </td>
            <td>
                <a href="{{url_for('deletePrzedmiot', przedmiot_id = p.id )}}" style="margin-left: 10px;">
                    Usuń
                </a>
            </td>
        </tr>

        {% endfor %}
    </table>
    <a href="{{url_for('index')}}">
        <br> <br>

        <button>Wróć</button>
    </a>
</body>

</html>