<html>

<body>
    <h1>Tytul</h1>
    <a href="{{url_for('addTytul')}}">
        <button>Dodaj Tytul</button>
    </a>
    <br><br>

    <table>
        <tr><th>nazwa</th>  </tr>
        {% for t in tytuly %}
        <tr>
            <td>{{t.tytulnauk}}</td>
            <td><a href="{{url_for('editTytul', tytul_id = t.id )}}">
                    Edytuj
                </a>
            </td>
            <td>
                <a href="{{url_for('deleteTytul', tytul_id = t.id )}}" style="margin-left: 10px;">
                    Usuń
                </a>
            </td>
        </tr>

        {% endfor %}
    </table>
    <a href="{{url_for('index')}}">
        <br> <br>

        <button>Wróć</button>
    </a>
</body>

</html>